.toy-preview {
  padding: 0.5em;
  /* Reduced padding */
  font-size: 1rem;
  /* Reduced font size */
}

.toy-preview .toy-name {
  font-size: 1.2rem;
  /* Reduced font size */
}

.toy-preview img {
  max-height: 180px;
  /* Reduced max height */
}

/* .skeleton-loader { */
/* width: 180px; */
/* Reduced width */
/* height: 180px; */
/* Reduced height */
/* background: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%); */
/* background-size: 200% 100%; */
/* animation: shimmer-loading 1.5s infinite linear; */
/* } */

/* @keyframes shimmer-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
} */